.col-md-3.navigation-bar.text-center.overflow-scroll
  .container.nav-container
    %ul.nav-list.float-center
      %li.nav-item
        %a{:href => "/tasks"} Tasks
      %li.nav-item
        %a{:href => "/projects"} Projects
      %li.nav-item
        %a{:href => "/project_phases"} Project Phases
      %li.nav-item
        %a{:href => "#"} Lorem
      %li.nav-item
        %a{:href => "#"} Ipsum
      %li.nav-item
        %a{:href => "#"} Dolor
  %h3#form-title.nav-text-color{:style => "display: none"} New Task
  #task-form{:style => "display:none;"}
  .nav-item#bottom-of-page.new-task-button
    = link_to "New Task", new_task_path, id: "new_link", remote: true
