.form-group#form-text-color
  = bootstrap_form_for @project, remote: true, url: {action: "create"} do |f|
    = f.text_field :name
    = f.text_area :description
    = f.submit "Create"
    %button.close-form-btn.btn.btn-primary Back
