= tabs do |c|
  - ::ProjectPhase.by_project(params[:id]).each do |project_phase|
    - c.tab project_phase.name.titleize do
      %span
        - ::Task.where(project_phase_id: project_phase.id).each do |task|
          %p
            =task.name
