= tabs do |c|
  - ::ProjectPhase.by_project(params[:id]).each do |project_phase|
    - c.tab project_phase.name.titleize do
      %span
        .container-fluid
          = render :partial => "shared/task",
                  :collection => ::Task.where(project_phase_id: project_phase.id),
                  :as => :task
