/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *
 *
 */

@import 'bootstrap';
@import 'rails_bootstrap_forms';

* {
	font-family: 'Merriweather', serif;
	color: #3DD6D0;
}

.content-col {
	background-color: #232528;
	overflow-y: scroll;
}

.toolbox-col {
	background-color: #232528;
}

.sortable a {
	color: rgb(49, 169, 164);
	-webkit-appearance: none;
}

.a {
	-webkit-appearance: none;
}

.overflow-scroll {
	overflow-y: scroll;
}
/* Navbar */

.nav-container {
		display: inline-block;
		//overflow-y: scroll;
}
.nav-list {
	list-style-type: none;
	margin-top: 5vh;
  vertical-align: middle;
	text-align: center;
	padding-left: 0px;
}

.nav-item a {
	font-family: 'Merriweather', serif;
	font-style: bold;
	-webkit-appearance: none;
	color: #232528;
	font-size: 21px;
}

.navigation-bar {
	background-color: #EBD2BE;
	max-height: 100%;
	overflow-y: scroll;
}

.row-main {
	max-height: 100vh;
}

#form-text-color select, label, input {
	color: #232528;
}
.nav-text-color {
		color: #232528;
}

#full-height {
	height: 100vh;
}

#bottom-of-page {
	margin-top: 60vh;
}
