/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *
 *
 */

@import 'bootstrap';
@import 'rails_bootstrap_forms';

* {
	font-family: Helvetica;
}

/* Navbar */

.align-left {
	align-self: left;
}

.nav {
	padding-top: 0px;
	border-bottom: 1px solid #007bff;
	border-bottom: 1px solid rgba(0, 123, 255, 0.5);
}

.brand {
	font-family: "Lucida Console", Monaco, monospace;
	font-size: 20px;
}

.nav-link {
	color: LightSlateGrey;
}


.active {
	background-color: #F0F8FF;
	color: DarkSlateGrey;
}

.pretty th .current {
  padding-right: 12px;
  background-repeat: no-repeat;
  background-position: right center;
}
