/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *
 *
 */

@import 'bootstrap';
@import 'rails_bootstrap_forms';

* {
	font-family: 'Merriweather', serif;
	color: #3DD6D0;
}

.content-col {
	background-color: #232528;
}

.toolbox-col {
	background-color: #15B097;
}

.a {
	-webkit-appearance: none;
}

/* Navbar */

.brand {
	font-family: 'Merriweather', serif;
	font-style: black;
	color: #232528;
	padding-top: 40px;
	padding-left: 40px;
	padding-bottom: 40px;
}

.nav-list {
	list-style-type: none;
}

.nav-item {
	font-family: 'Merriweather', serif;
	font-style: bold;
	color: #232528;
	font-size: 21px;
}

.navigation-bar {
	background-color: #71F79F;
}

.active {
	background-color: #F0F8FF;
	color: DarkSlateGrey;
}

.pretty th .current {
  padding-right: 12px;
  background-repeat: no-repeat;
  background-position: right center;
}
