@import 'bootstrap';
/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
  padding-top: 3.5rem;
}

/*
 * Typography
 */

h1 {
  margin-bottom: 20px;
  padding-bottom: 9px;
  border-bottom: 1px solid #eee;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 51px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  border-right: 1px solid #eee;
}

/* Sidebar navigation */
.sidebar {
  padding-left: 0;
  padding-right: 0;
}

.sidebar .nav {
  margin-bottom: 20px;
}

.sidebar .nav-item {
  width: 100%;
}

.sidebar .nav-item + .nav-item {
  margin-left: 0;
}

.sidebar .nav-link {
  border-radius: 0;
}

/*
 * Dashboard
 */

 /* Placeholders */
.placeholders {
  padding-bottom: 3rem;
}

.placeholder img {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.project-card {
  width: 100%;
}


.card {
  width: 100%;
  margin: 5px;
}

.title {
  margin-top: 15px;
}

.go-button {
  font-size: 0.75rem;
}

.nav-item {
  background-color: #343a40;
  color: white;
}
.nav-tabs {
  background-color: #343a40;
}

.task-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.task-list-item {
  float: left;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.task-card-body {
  padding: 1px;
}

.nav-link {
  color: white;
}

.nav-link:hover {
  color: white;
}

.navbar {
  max-width: 100%;
  overflow: hidden;
}

#task-form {
  display: none;
  position: fixed;
  z-index: 20;
  background-color: white;
  padding: 10px;
  width: 60vw;
  margin-left: 20vw;
  margin-top: 10vw;
  border-radius: 3px;
  border-color: #343a40;
  border-width: 1px;
  border-style: solid;
}

.login_items {
  color: white;
  padding-right: 0.5rem;

  a {
    color: white;
  }
}

.nav-tabs {
  position: -webkit-sticky;
  position: sticky;
  top: 3.5rem;
  z-index: 1040;
}
